/* 
    Sets the font for the whole document to be Arial (if Arial is missing, then Helvetica) 
    If the browser does not have the requested fonts, it will fallback to the generic "font family" or, 
    collection of fonts, that implement the sans-serif definition "Glyphs [that] have stroke endings that are plain"
    https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#values
*/
* {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Adds styling to the body of the entire webpage */
body {
    margin: 0; /* Allows the navbar to be aligned to the top of the page by removing the margin */
    background-color: #e7502b; /* Sets the background for the webpage */
}

/***** Navigation Bar *****/
.navbar {
    display: flex; /* Converts a <nav> tag to a flex container which then converts all of the items within it to flex items */
    flex-direction: row; /* Tells the browser to display the items in a row instead of a column */
    gap: 2em; /* Adds a gap between the items */
    background-color: #6e9ccd; /* Sets the background color */
}

.navbar > a {
    display: flex; /* Converts each hyperlink to a flex container so that the contents become flex items */
    align-items: center; /* Centers text vertically when there is one line */
    justify-content: center; /* Centers text horizontally */
    text-align: center; /* Forces text to be centered when there is more than one line */
    text-decoration: none; /* Removes the underlines under the hyperlinks */
    transition: background-color 0.3s ease; /* When hovering over the hyperlink, the background color will now "transition" to the new color */
    width: 56px; /* Set the width for the hyperlinks in the navbar */
    height: 56px; /* Set the height of the hyperlinks in the navbar */
    color: white;
}

.navbar > a:hover {
    background-color: #6687aa; /* When hovering over an element in the navigation bar, change the background color */
}

/*
#6e9ccd Blue from the logo 
#e7502b Orange from the logo
*/