.team-members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.team-members-title {
    font-weight: bold;
    font-size: xx-large;
}

/***** CSS for PI'S *****/
.team-members-container .pi-members-title {
    font-size: large;
    font-weight: bold;
    padding: 1em;
}

.team-members-container .pi-members {
    display: flex;
    flex-direction: row;
    gap: 0em 1em;
    max-width: 60%;
}

.team-members-container .pi-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

/* Customization made to PI'S individual boxes */
.pi-member .pi-member-image {
    height: 90px;
    width: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 85%;
    padding: 0.5%;
    background-color: #fff;
}

.pi-member .pi-member-description {
    /* font-weight: bold; */
    font-size: medium;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255); */

}

/**** Other Collaborators CSS *****/
.team-members-container .other-collaborators-title {
    font-weight: bold;
    font-size: large;
    padding: 1em;
}