body {
    font-family: Arial, sans-serif;
    color: #fff;
    background: url("../../images/home/Mohonk.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    margin: 20px auto;
    max-width: 800px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

    /*
#6e9ccd Blue from the logo 
#e7502b Orange from the logo
*/