/* 
    Sets the font for the whole document to be Arial (if Arial is missing, then Helvetica) 
    If the browser does not have the requested fonts, it will fallback to the generic "font family" or, 
    collection of fonts, that implement the sans-serif definition "Glyphs [that] have stroke endings that are plain"
    https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#values
*/
* {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

/**** Navigation Bar *****/
/* The style for the elements within the nav tags (The navigation bar) */
nav {
    margin: 0;
    padding: 0;
    background-color: #e7502b;
    display: block;
}

nav > ul > li {
    justify-content: flex-start;
}

/* Adds styling to the anchors (<a> tags) in the navigation bar */
nav > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The active navigation element will have this color set to its background */
.active {
    background-color: #6e9ccd;
}

/*
#6e9ccd Blue from the logo 
#e7502b Orange from the logo
*/